#container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr;
    height: 100vh;
    width: 100vw;
}

/* ----- SIDEBAR ----- */

#sidebar {
    display: flex;
    flex-direction: column;
    grid-area: 1 / 1 / 3 / 2;
    border: none;
    padding: 8px;
    min-width: 200px;
    gap: 30px;
}

#sidebarHeader {
    display: flex;
    align-items: center;
}

#profilePic {
    width: 55px;
    height: 55px;
}

#notificationIcon {
    margin-left: auto;
}

.sidebarIcons {
    width: 20px;
    height: 20px;
}

.sidebarBtn {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
    background-color: white;
    font-size: 1rem;
    cursor: pointer;
    padding: 8px;
    border-radius: 5px;
}

#addTaskBtn {
    color: var(--button-red-hover);
}

.sidebarBtn:hover {
    background-color: var(--button-gray);
}

#sidebarList li,
#projectSidebarList li {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    border-radius: 15px;
}

#projectListHeader {
    font-weight: 600;
}

/* END OF SIDEBAR  */

/* --- ADD TASK --- */

/* Background overlay */
.overlay {
    position: fixed; /* covers the whole viewport */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3); /* semi-transparent */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* sits above the rest of the app */
}

#addTaskForm {
    display: block;
    position: absolute;
    top: 3rem;
    width: clamp(650px, 50%, 750px);
}

fieldset {
    top: 3rem;
    box-shadow: var(--card-shadow);
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 12px;
    gap: 12px;
    border: none;
    background-color: white;
    border-radius: 15px;
}

input {
    margin: 0;
}

textarea {
    resize: none;
}

#taskTitleInput,
#taskDescriptionText,
#taskDateInput {
    border: none;
}

#taskTitleInput {
    font-size: 1.1rem;
}

#taskDateInput {
    background-color: var(--button-gray);
    border-radius: 5px;
    height: 23px;
    cursor: pointer;
}

#taskDateInput:hover {
    background-color: darkgray;
}

#projectList {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    position: absolute;
    left: 0.1rem;
    background-color: white;
    box-shadow: 4px 4px 8px rgba(128, 128, 128, 0.3);
    border-radius: 5px;
    margin-left: 14px;
    width: 100px;
}

#projectList li > input {
    width: 100%;
    background-color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    padding: 6px;
}

#projectList li > input:hover {
    background-color: var(--button-gray);
}

#projectBtn {
    display: flex;
    justify-content: center;
    width: 100px;
    border: none;
    border-radius: 5px;
    padding: 2px;
    background-color: var(--button-gray);
}

#projectBtn:hover {
    background-color: darkgray;
}

#projectDropdown {
    display: flex;
    align-items: center;
}

#projectMenuIcon {
    width: 25px;
    height: 25px;
}

#taskDateInput {
    padding: 4px;
    margin: 8px;
}

#priorityRadios {
    display: flex;
    gap: 12px;
}

.radios {
    cursor: pointer;
}

#priorityForm {
    display: flex;
    align-items: center;
    gap: 6px;
}

#projectDatePriority {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8rem;
    padding: 4px;
}

#addTaskBtns {
    display: flex;
    justify-content: end;
    gap: 12px;
}

#confirmAddTask {
    background-color: var(--button-gray);
}

#confirmAddTask:hover {
    background-color: darkgray;
}

#confirmAddTask,
#cancelAddTask {
    padding: 8px;
    border-radius: 5px;
}

#cancelAddTask {
    background-color: var(--button-red);
}

#cancelAddTask:hover {
    background-color: var(--button-red-hover);
}

/* END OF ADD TASK */

/* --- TASK DETAILS --- */

#taskDetails {
    display: flex;
    justify-content: space-between;
    position: absolute;
    border-radius: 15px;
    width: clamp(625px, 50%, 750px);
    box-shadow: var(--card-shadow);
    top: 6rem;
    background-color: white;
}

#detailsTitleDescription {
    display: flex;
    flex-direction: column;
    max-width: 450px;
    gap: 16px;
    padding: 12px;
}

#detailsTitle {
    font-size: 1.1rem;
    font-weight: 500;
}

#detailsSidebar {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 12px;
    background-color: var(--button-gray);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    font-size: 0.8rem;
}

#detailsSidebarHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.detailsSidebarIcons {
    height: 20px;
    width: 20px;
}

.detailsBtn {
    padding: 4px;
    cursor: pointer;
}

.detailsBtn:hover {
    background-color: lightgray;
    border-radius: 5px;
}

.detailsSidebarBody > div {
    display: flex;
    align-items: center;
    padding-left: 12px;
    gap: 8px;
    padding: 4px;
    border-bottom: 1px solid rgb(200, 200, 200);
}

.detailsIcons {
    height: 15px;
    width: 15px;
}

/* END OF TASK DETAILS  */

/* --- CONTENT ---  */

#content {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: auto;
    grid-area: 1 / 2 / 3 / 3;
    border: none;
    background-color: var(--main-bg);
    min-width: 700px;
    width: 100%;
}

#contentHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    font-size: 1.3rem;
    font-weight: 400;
    padding: 12px;
    background-color: var(--main-bg);
}

#status {
    font-size: 1rem;
}

#contentHeader.scrolled {
    border-bottom: 1px solid white;
}

#toDoWrapper {
    display: flex;
    justify-content: center;
    flex: 1;
}

#toDoWrapper.scrolled {
    border-top: 1px solid var(--button-gray);
}

#toDoList {
    display: flex;
    flex-direction: column;
    background-color: var(--main-bg);
    gap: 16px;
    /* margin: 0 auto; */
    width: 675px;
    padding: 24px;
}

.projectAddTaskBtn,
.projectDeleteBtn {
    display: flex;
    gap: 4px;
    font-size: 0.9rem;
    background-color: var(--main-bg);
    cursor: pointer;
    align-items: center;
    justify-content: center;
    padding: 8px;
    border-radius: 5px;
    width: 125px;
}

.projectBtns {
    display: flex;
    gap: 4px;
    /* justify-content: space-between; */
}

.projectAddTaskBtn:hover,
.projectDeleteBtn:hover {
    background-color: lightgray;
}

.contentIcons {
    width: 30px;
    height: 30px;
}

#projectHeader {
    display: flex;
    align-items: center;
}

#projectTaskCount {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    width: 25px;
    padding: 4px;
    background-color: lightgray;
    border-radius: 25px;
    margin-left: 8px;
    gap: 4px;
}

#taskCountIcon {
    width: 15px;
    height: 15px;
}

.listExpandCollapse {
    width: 35px;
    height: 35px;
    background-color: var(--main-bg);
}

.task {
    display: flex;
    flex-direction: column;
    background-color: white;
    cursor: pointer;
    border-radius: 15px;
    padding: 8px;
    gap: 12px;
}

.taskList {
    padding: 12px;
}

.project {
    display: flex;
    flex-direction: column;
    gap: 16px;
    /* padding: 24px; */
}

#projectTitle {
    padding: 8px;
    font-size: 1.2rem;
    font-weight: 500;
}

.taskList {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 16px;
}

.taskText {
    font-size: 0.8rem;
}

/* END OF CONTENT  */
